*{
	margin: 0;
	height: 100%;	
}
body{
	width: 100%;
}

.img-container{
	background-image: url(qman1.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	backgroup-repeat: no-repeat;
	background-size: cover;
	position: relative;
}

.logo-container{
	background-image: url(2020Logo_transparent.png);
	height: 100%;
	background-repeat: no-repeat;
	background-size:auto;
	postition: relative;
}
button{
	width: 150px;
	height: 75px;
	background-color: White;
	color: rgb(255, 96, 26);
	border: 2px solid rgb(255, 96, 26); 
	margin-top: -850px;
	font-size: 20px;
	font-family: "Zilla Slab" , sans-serif;
	margin-right: 100px;
	border-radius: 12px;
}
button:hover{
	background-color: rgb(255, 96, 26);
	color: white;
}
.logo2{
	background-image: url(2020Logo_transparent.png);
	height: 100%;
	background-repeat: no-repeat;
	bottom: 20px;
}
h1{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	text-decoration: underline;
	font-size: 75px;
	color: rgb(255, 96, 26);
	margin: auto;
	position: relative;
	top: 100px
}
p{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	font-size: 30px;
	color: rgb(255, 96, 26);
	position:relative;
	margin: 150px;
	bottom: 800px;
}
h2{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	font-size: 75px;
	color: rgb(255, 96, 26);
	position: relative;
	text-decoration: underline;
	top: 100px;
}
.center{
	background-color: rgb(255, 96, 26);
	text-align: center;
	display: block;
	margin-top: -1500px;
}
.center2{
	text-align: center;
	display: block;
	margin-top: -600px
}
h3{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	font-size: 30px;
	color: rgb(255, 96, 26);
	position: relative;
	margin-top: -360px;
	margin-left: 150px;
	margin-right: 150px;
}
h4{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	font-size: 75px;
	color: rgb(255, 96, 26);
	position: relative;
	text-decoration: underline;
	margin-top: -650px;
	margin-bottom: -500px;
}
.tact{
	text-align: center;
	display: block;
	margin-top: -900px;
}
h5{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	font-size: 75px;
	color: rgb(255, 96, 26);
	position: relative;
	text-decoration: underline;
	margin-top: -650px;
	margin-bottom: -500px;
}
@media only screen and (max-device-width: 1366px){
	.img-container{
		background-attachment: scroll;
		background-position: center;
	}
}

