/* remove margin on edges and set height to allow for img-container */
body, html {height: 100%; margin: 0;}
.img-container{
	/* background image without parallax */
	background-image: url(/assets/images/qman1.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.logo{position: absolute;}
button{
	width: 150px;
	height: 75px;
	background-color: White;
	color: rgb(255, 96, 26);
	border: 2px solid rgb(255, 96, 26); 
	font-size: 20px;
	font-family: "Zilla Slab" , sans-serif;
	border-radius: 12px;
	position: relative;
	/* place button on right side with offset from edges */
	float: right;
	margin-right: 10%; margin-top: 5%;
}
button:hover{
	background-color: rgb(255, 96, 26);
	color: white;
}
h1, p{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	color: rgb(255, 96, 26);
}
/* two types of text: headers and paragraphs */
h1 {font-size: 75px; text-decoration: underline;}
p {font-size: 30px; margin: 3%;}
/* behavior of orange and white background-ed images */
.oImg, .wImg{text-align: center; display: block;}
.oImg{background-color: rgb(255, 96, 26);}
/* dont let images resize window */
img{max-width: 100%;}
/* expand orange image */
#o{width: 45%;}
@media only screen and (max-device-width: 1300px) {
  .img-container {
    /* add parallax for larger screens */
    background-attachment: scroll;
  }
}
