body, html {height: 100%; margin: 0;}
.img-container{
	background-image: url(/assets/images/qman1.jpg);
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
}
.logo{position: absolute;}
button{
	width: 150px;
	height: 75px;
	background-color: White;
	color: rgb(255, 96, 26);
	border: 2px solid rgb(255, 96, 26); 
	font-size: 20px;
	font-family: "Zilla Slab" , sans-serif;
	border-radius: 12px;
	position: relative;
	float: right;
	margin-right: 10%; margin-top: 5%;
}
button:hover{
	background-color: rgb(255, 96, 26);
	color: white;
}
img{max-width: 100%;}
h1, p{
	text-align: center;
	font-family: "Zilla Slab" , sans-serif;
	color: rgb(255, 96, 26);
}
h1 {font-size: 75px; text-decoration: underline;}
p {font-size: 30px;}
.oImg, .wImg{text-align: center; display: block;}
.oImg{background-color: rgb(255, 96, 26);}
@media only screen and (max-device-width: 1300px) {
  .img-container {
    background-attachment: scroll;
  }
}
